<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MakeMyTrip_BusBooking_Suite" parallel="false">

    <!-- Global suite-level parameter for browser type -->
    <parameter name="browser" value="chrome" />

    <!-- Registered listeners for the suite -->
    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>

    <!-- Single test block -->
    <test name="Bus Booking Flow" preserve-order="true" parallel="false">
        <classes>
            <!-- Our Bus booking test -->
            <class name="tests.BusBookingTest" />
        </classes>
    </test>
</suite>
